<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1 class="title">{{title}}</h1>
  <div class="wrapper">
    <div id="markdown-editor" class="editor"></div>
    <div id="html-editor" class="editor"></div>
    <div id="html-result" class="result">..</div>
  </div>
  <script src="/js/bundle.js"></script>
</body>
</html>
