.wrapper {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper .editor {
  position: absolute;
  width: 50%;
  height: 40%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  padding-top: 5px;
}

#markdown-editor {
  left: 0;
  top: 0;
}

#html-editor {
  right: 0;
  top: 0;
}

.result {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
  background-color: #272822;
  color: antiquewhite;
  border: 1px solid black;
  text-align: center;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.3);
}
